/*******GENERELLE INDSTILLINGER START**********/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, Sans-Serif;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: Helvetica, Sans-Serif;
    font-size: 5rem;
}

h3 {
    font-family: Helvetica, Sans-Serif;
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    /*
    font-size: 3rem;
    color: white;
*/
}


/* BILLED-klasser til dokumentations */
.mindst {
    width: 35%;
}

.lille {
    width: 50%;
}



/*******GENERELLE INDSTILLINGER SLUT**********/

/*******MENU INDSTILLINGER START**********/



/*******MENU INDSTILLINGER SLUT**********/


/*******INDEX INDSTILLINGER START**********/

#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash.svg);
    background-size: cover;
    background-position: 70% 100%;
    background-repeat: no-repeat;
}

#header1 {
    position: absolute;
    color: #FFFFFF;
    top: 15vw;
    left: 23vw;
}

#header1 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7.2rem;
    font-weight: 700;

}

#header2 {
    position: absolute;
    top: 110vw;
    left: 37vw;
    color: #e3e3e3;
}

#header2 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    text-align: right;
    font-weight: 400;


}

#header3 {
    position: absolute;
    color: #a9a9a9;
    top: 185vw;
    left: 20vw;
}

#header3 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 300;

}

@media only screen and (min-width: 1330px) {
    #splash {
        width: 100vw;
        height: 56.25vw;
        background-image: url(billeder/splash.svg);
        background-size: cover;
        background-position: 70% 100%;
        max-width: none;
        background-repeat: no-repeat;
    }

    #header1 {
        position: absolute;
        color: #ffffff;
        top: 4vw;
        left: 56vw;
    }


    #header2 {
        position: absolute;
        color: #e3e3e3;
        top: 28vw;
        left: 67vw;
    }


    #header3 {
        position: absolute;
        color: #a9a9a9;
        top: 47.5vw;
        left: 57vw;
    }

}

/*******INDEX INDSTILLINGER SLUT**********/

/*******PORTFOLIO INDSTILLINGER START**********/

#portfolio {
    background-image: url(billeder/splash.svg);
    background-repeat: repeat-y;
    background-position: 80% 100%;


}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#header_portfolio {
    position: relative;
    top: 10vw;
    left: 12vw;

}

#portfolio h1 {
    color: #ffffff;
    text-align: center;
    font-size: 4rem;


}

/*
.task {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #ffffff;

    margin: 10px 30px;
    border-radius: 10px;
    height: 300px;
    opacity: 0.8;
    overflow: hidden;
}
*/

#task1 {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 10px 30px;
    border-radius: 10px;
    height: 300px;
    background-image: url(billeder/swiss_style.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 100%;
    filter: grayscale(80%);
}

#task1:hover {
    filter: grayscale(0%);
}

#task2:hover {
    filter: grayscale(0%);
}

#task3:hover {
    filter: grayscale(0%);
}


#task2 {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 10px 30px;
    border-radius: 10px;
    height: 300px;
    background-image: url(billeder/dataindsamling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 100%;
    filter: grayscale(80%);
}

#task3 {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 10px 30px;
    border-radius: 10px;
    height: 300px;
    background-image: url(billeder/prototype2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    filter: grayscale(80%);

}

/*******PORTFOLIO INDSTILLINGER SLUT**********/

/*******SWISS INDSTILLINGER START**********/

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col_txt {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 2rem;
    max-width: 400px;

}

.col_img {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 2rem;
    max-width: 400px;
}

.col_img img {
    padding: 10px 0;
}

@media only screen and (min-width: 600px) {
    .col_img {
        max-height: 500px;
        overflow: scroll;
    }
}







/*******SWISS INDSTILLINGER SLUT**********/


/*******ANIMATIONER START**********/

.pulse {
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.8);


    }

    100% {
        transform: scale(1.2);
    }
}




/*******ANIMATIONER SLUT**********/


/*******DISPLAY PORTFOLIO START**********/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display_portfolio {
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: solid black 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    max-width: 300px;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;

}

.display_portfolio p {
    margin: 0 0 0 5px;
}

.display_portfolio img {
    padding-left: 5px;
    padding-right: 5px;
    filter: grayscale(1);
}

.display_portfolio img:hover {
    filter: grayscale(0.1);
}

.portfolio_opgave p {
    text-align: center;
}


.rotate {
    transform: rotate(90deg);
    margin: 30px 0;
}


/*******DISPLAY PORTFOLIO SLUT**********/

/*******PROTOTYPE START**********/


/*******PROTOTYPE SLUT**********/
